{% extends "layout.html.twig" %}

{% block content %}
    <h3>Code</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20"></td>
                <th>{{ 'table.filename'|trans }}</th>
                <th>{{ 'table.date'|trans }}</th>
                <th>{{ 'table.last_commit'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if parent_path is not sameas(false) %}
                <tr>
                    <td><i class="icon-folder-open"></i></td>
                    <td>
                        <a href="{{ path('tree', {reference: reference, path: parent_path}) }}">
                            ..
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            {% for name, data in tree.entries if data[1] is git_tree %}
                {% embed 'browse_tree_row.html.twig' %}
                    {% block first_column %}<i class="icon-folder-open"></i>{% endblock %}
                {% endembed %}
            {% endfor %}
            {% for name, data in tree.entries if data[1] is not git_tree %}
                {% embed 'browse_tree_row.html.twig' %}
                {% endembed %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
