<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>
        <link rel="stylesheet" href="/css/git/log.css" />
        <link rel="stylesheet" href="/css/layout.css" />
    </head>
    <body>
        <div class="gitonomy-browser">
            <h1><a href="{{ path('repositories') }}">gitonomy browser</a></h1>
            <hr />
            {% block content '' %}
            <hr />
            <script type="text/javascript" src="/vendor/jquery-1.9.0.min.js"></script>
            <script type="text/javascript" src="/js/log.js"></script>
        </div>
    </body>
</html>
