{% extends "layout.html.twig" %}

{% block content %}
    <h2>{{ repositoryName }}</h2>
    {{ git_log(repository.log.setLimit(30), {query_url: path('log_ajax', {repositoryName: repositoryName})}) }}
{% endblock %}
