{% extends "layout.html.twig" %}

{% block content %}
    <h2>Branches</h2>
    {{ git_branches(repository) }}

    <h2>Tags</h2>
    {{ git_tags(repository) }}

    <h2>Logs</h2>
    {{ git_log(repository.log.setLimit(30), {query_url: path('log_ajax')}) }}
{% endblock %}
