{% extends "layout.html.twig" %}

{% block content %}

    {% if repository.references.branches %}
        <h3>Branches</h3>
        {{ git_branches(repository) }}
    {% endif %}

    {% if repository.references.tags %}
        <h3>Tags</h3>
        {{ git_tags(repository) }}
    {% endif %}

{% endblock %}
