{% extends "layout.html.twig" %}

{% block content %}

    {% if repository.references.branches %}
        <h3>Branches</h3>
        {{ git_label(repository.references.branches) }}
    {% endif %}

    {% if repository.references.tags %}
        <h3>Tags</h3>
        {{ git_label(repository.references.tags) }}
    {% endif %}

{% endblock %}
