{% extends "layout.html.twig" %}

{% block content %}
    {% for repository in repositories %}
        <h3>
            <a href="{{ url('repository', {repository: repository}) }}">
                {{ repository }}
            </a>
        </h3>
        {{ git_branches(repository, {local_only: true}) }}
    {% endfor %}
{% endblock %}
